{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <h1 class="text-center">Mon profil</h1>
    {{ include('_aff_messages_info.html.twig') }}
    <div class="container">
        <div class="row">
            <div class="imgProfil col-lg-3 pt-5">
                {{ include('participant/_aff_photo_profil.html.twig') }}
            </div>
    {{ include('participant/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
{% endblock %}
