{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un nouveau profil</h1>
    <div class="container">
        <div class="row">
            {{ include('participant/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
