<form method="post" action="{{ path('sortie_publie', {'id': sortie.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir publier cette sortie ?');">

    <button >Publier la sortie</button>
</form>
