body {
    background-color: #FFFFFF;
}

/* ######  COMMON  ###### */
.navbar-custom-color {
    background-color: #075E80;
}

h1 {
    text-align: center;
    font-weight: 400!important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.str-main-container {
    width: 75%;
    margin: auto;
}

.table-striped a {
    padding: 5px 10px;
}

.str-button-link {
    margin-top: 40px;
}

.str-button-link a, .str-button-link button{
    color: #007bff;
    margin: auto;
    border: 1px solid #0056B3;
    border-radius: 4px;
}

.str-button-link a {
    padding: 8px 15px;
}

.str-button-link button {
    padding: 7px 15px;
}

/* ######  COMMON SHOW  ######## */
.str-table-show {
    margin: 30px auto;
    max-width: 400px;
}

/* ######  LOGIN  ###### */
.str-login-block {
    width: 450px;
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 250px;
    padding: 40px;
    border: 3px solid #A9C0C9;
    border-radius: 1px;
    box-shadow: 5px 3px 8px lightgray;
}

.str-login-input{
    margin-bottom: 30px;
}

.str-login-input span{
    display: inline-flex;
    height: 38px;
    padding: 8px 0;
    color: #075E80;
}

.str-login-input input{
    max-width: 200px;
    display: inline-flex;
    float: right;
}

.str-forgot-password a{
    color: #075E80;
    text-decoration: underline;
}

.checkbox label{
    color: #075E80;
}

.str-row .col:first-child{
    padding-right: 10px;
    padding-left: 0;
}

.str-row button{
    width: 100%;
    background-color: #075E80;
    border-color: #075E80;
}

/* ######  Lieu & Site & Villes  ###### */

.str-button-align-right {
    text-align: right;
}

.str-container-button {
    text-align: center;
}

.str-container-button div {
    display: inline-block;
    margin: 0 8px;
}

.str-a-position a {
    position: relative;
    top: 2px;
}

.str-form input, .str-form select{
    margin: 7px 30% 7px 15px;
    padding: 4px 6px;
    border-radius: 6px;
    border: 1px solid lightgrey;
    min-width: 200px;
}

.str-form-sortie input, .str-form-sortie select{
    margin: 7px 15px 7px 15px;
    padding: 4px 6px;
    border-radius: 6px;
    border: 1px solid lightgrey;
    min-width: 200px;
}

.str-form-sortie-right select {
    min-width: 100px!important;
}

.str-form-align-content-right div{
    text-align: right;
}

.str-form-align-content-center {
    text-align: center!important;
}

.btn-primary {
    color: #FFFFFF!important;
}

.str-button-rechercher {
    width: 100%;
}

.str-button-rechercher button{
    width: 100%;
    margin: 20px 5px;
    color: #FFFFFF!important;
    height: 50px;
    border-radius: 20px;
    border: 1px solid lightgray;
    background: #0069D9;
}

.str-sortie-align-content-right{
    text-align: right;
}